$color-white: #FFFFFF;
$color-white-200 :#E6E8EA;
$color-white-300 :#F2F2F2;
$color-black: #000000;
$color-black-200 :#333333;
$color-black-300 :#585858;
$color-gray :#7A7A7A;
$color-gray-100 :#BDBDBD;
$color-gray-200 :#BFBFBF;
$color-gray-300 :#C0C0C0;
$color-acent :#F8475F;

$breakpoints: (
    sm: 480px,
    md: 768px,
    xl: 992px,
    xxl:1336px,
);